---
dependency:
  name: galaxy
driver:
  name: delegated
lint: |
  set -e
  yamllint .
  ansible-lint
  flake8
platforms:
  - name: cluster
    groups:
      - k8s
provisioner:
  name: ansible
  env:
    ANSIBLE_LOCAL_TEMP: /tmp
verifier:
  name: ansible
